<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/About.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Trang Chủ</title>
</head>

<body>



    <%- include('./partials/header'); %>
        <div class="grid wide">
            <div class="row">
                <div class="col m--9">
                    <div class="product-link" style="line-height: 2;">
                        <a href="/index.html">Trang chủ</a>
                        <i class="fa fa-caret-right fa-fw"></i>
                        <a href="">Giới Thiệu</a>


                    </div>
                    <div class="introduce">
                        <h1>GIỚI THIỆU</h1>
                        <div class="introduce-body">
                            <P>Công ty TNHH Webcaycanh được thành lập vào ngày 10 tháng 10 năm 2015, với sứ mệnh mang
                                đến không gian xanh cho mọi người, chia sẻ kinh nghiệm và kiến thức chăm sóc cây cảnh.
                                Đến với Web Cây Cảnh không đơn giản chỉ là mua cây, mà chúng tôi còn hướng dẫn quý khách
                                hàng cách chăm sóc, cách khắc phục khi cây gặp phải vấn đề không tốt, cây cảnh mua tại
                                cửa hàng đều được bảo hành 7 ngày đến 30 ngày tùy vào cây to hay nhỏ, để đảm bảo sản
                                phẩm hoàn toàn là chất lượng không bị ủ bệnh trước khi mua.</P>
                            <p>Ngoài ra nếu quý khách không mua cây tại cửa hàng, mà mua ở bất kỳ đâu khi gặp vấn đề hãy
                                cứ liên hệ với chúng tôi, chúng tôi sẵn sàng tư vấn miễn phí và nhiệt tình, để cây có
                                thể tốt trở lại.</p>
                            <ul class="introduce-body-list">
                                <h2>Về Web Cây Cảnh</h2>
                                <li>– Đứng đầu lĩnh vực Online về thị trường cây cảnh.</li>
                                <li>– Đơn vị cây cảnh đầu tiên có cơ sở tại 2 thành phố lớn Hà Nội và Hồ Chí Minh.</li>
                                <li>– Bảo hành sau khi mua cây.</li>
                                <li>– Tư vấn chuyên nghiệp.</li>
                                <li>– Hỗ trợ giải đáp thắc mắc, chăm sóc trọn đời.</li>
                            </ul>
                            <ul class="introduce-body-list">
                                <h2>Web Cây Cảnh làm những gì?</h2>
                                <p>Công ty TNHH Webcaycanh làm 3 hạng mục chính:</p>
                                <li>– Bán Cây Cảnh để bàn, văn phòng, nội thất, phong thủy…</li>
                                <li>– Chăm sóc cây cho văn phòng, tòa nhà, tại nhà.</li>
                                <li>– Thiết kế và tư vấn bố trí cây xanh.</li>
                                <p>Trong thời gian hoạt động và làm việc chúng tôi đã bán và hỗ trợ chăm sóc rất nhiều
                                    cây cảnh, cũng đã làm nhiều dự án lớn cho các đối tác như: Viettel, Mobifone, Ivy,
                                    Vietjet, Euro Window, khách sạn 4* Sky, quán cafe…</p>
                                <p>Hình ảnh một số dự án:</p>
                                <li class="introduce-body-item">
                                    <div class="row">
                                        <div class="col m-6">
                                            <p>
                                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cay-canh-viettel-400x300.jpg"
                                                    alt="">
                                            <p class="title">Dự án 6200 cây làm quà tặng cho Viettel</p>
                                            </p>
                                        </div>
                                        <div class="col m-6">
                                            <p>
                                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-khach-san-400x300.jpg"
                                                    alt="">
                                            <p class="title">Dự án setup cây cảnh cho khách sạn 4*</p>
                                            </p>
                                        </div>
                                        <div class="col m-6">
                                            <p>
                                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/du-an-cafe-400x400.jpg"
                                                    alt="">
                                            <p class="title">Setup cây cảnh cho quán cafe</p>
                                            </p>
                                        </div>
                                        <div class="col m-6">
                                            <p>
                                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/setup-cay-cho-nha-biet-thu-400x308.jpg"
                                                    alt="">
                                            <p class="title">Thiết kế và trồng cây cho nhà biệt thự</p>
                                            </p>
                                        </div>
                                        <div class="col m-6">
                                            <p>
                                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-nha-hang-771x1024.jpg"
                                                    alt="">
                                            <p class="title">Setup cây cho văn phòng</p>
                                            </p>
                                        </div>
                                        <div class="col m-6">
                                            <p>
                                                <img src="https://webcaycanh.com/wp-content/uploads/2018/08/trong-cay-cho-biet-thu-vinhome-greebay-386x400.jpg"
                                                    alt="">
                                            <p class="title">Trồng cây cho bên biệt thự vinhome greebay</p>
                                            </p>
                                        </div>

                                    </div>





                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col m--3">
                    <%- include('./partials/footer'); %>
                </div>

            </div>
        </div>
        </div>
        <%- include('./partials/footer'); %>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                crossorigin="anonymous"></script>
            <script src="/js/app.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="/js/user.js"></script>
            <script src="/js/cart.js">


            </script>
</body>

</html>