<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Trang Chủ</title>
</head>

<body>



    <%- include('./partials/header'); %>
        <div class="grid wide">
            <div class="row">
                <div class="col m--9">
                    <div class="product-link" style="line-height: 2;">
                        <a href="/index.html">Trang chủ</a>
                        <i class="fa fa-caret-right fa-fw"></i>
                        <a href="">Liên Hệ</a>

                    </div>
                    <div class="contact">
                        <h1>LIÊN HỆ</h1>
                        <div class="contact-question">
                            <ul class="question-list">
                                <p> Để giải đáp những băn khoăn thắc mắc của bạn như:</p>
                                <li class="question-item">Rất vui và vinh dự khi được phục vụ quý khách hàng</li>
                                <li class="question-item">Bạn muốn trang trí bàn làm việc phải chọn loại cây gì?</li>
                                <li class="question-item">Nên để những loại cây như thế nào để phù hợp với bạn?</li>
                                <li class="question-item">Lựa chọn thế nào để có mức giá hợp lý nhất và vẫn đảm bảo mong
                                    muốn?</li>
                                <li class="question-item">Khi cây có hiện tượng váng lá, nhũn lá…Thì phải khắc phục ra
                                    sao?</li>
                                <li class="question-item">Nếu bạn mua nhiều thì bên web cây cảnh sẽ có ưu đãi thế nào?
                                </li>
                                <p>Nếu bạn có những thắc mắc như vậy hoặc nhiều hơn thế. Đừng ngại hãy liên hệ với chúng
                                    tôi qua số điện thoại: <a style="color:red ; font-size:1.8rem;"
                                        href="tel:0123456789">0123456789</a></p>
                            </ul>
                            <ul class="question-list1">
                                <p> Rất vui và vinh dự được pục vụ quý khách</p>
                                <li class=""><span><strong>Địa Chỉ: </strong> Số 258 - Bạch Đằng - Năm Khê - Uông Bí -
                                        Quảng Ninh</span></li>
                                <li class="">Công Ty TNHH WEBCAYXANH</li>
                                <li class=""><span><strong>Văn Phòng:</strong>Số 258 - Bạch Đằng - Năm Khê - Uông Bí -
                                        Quảng Ninh</span></li>
                                <li class=""><span><strong>Người đại diện:</strong>Trà My</span></li>
                                <li class=""><span><strong>Tài Khoản Ngân Hàng:</strong>01234567891011</span></li>
                                <li class=""><span><strong>Ngân Hàng:</strong>Vietcombank</span></li>
                                <li class=""><span><strong>Giờ Bán Hàng:</strong>: 8h sáng đến 20h các ngày trong
                                        tuần</span></li>
                            </ul>
                        </div>
                    </div>



                </div>
                <div class="col m--3">
                    <%- include('./partials/sidebar'); %>
                </div>
            </div>
        </div>
        </div>
        <%- include('./partials/footer'); %>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                crossorigin="anonymous"></script>
            <script src="/js/app.js"></script>


            </script>
</body>

</html>