.header {
    background-color: var(--primary-color);
}

.nav--header {
    display: flex;
    justify-content: space-between;
    height: var(--nav-header);
    align-items: center;
    font-size: 14px;
}

.nav--social,
.nav--login {
    color: #fff;
    padding: 0 20px;

}

.nav--login a {}

.btn-login {
    cursor: pointer;
}

.nav--social label {
    font-size: 14px;
}

.nav--social i {
    padding: 0 10px;
    cursor: pointer;
}

.nav--social i:hover {
    color: var(--hover-header);
}

.nav--login a {
    color: #fff;
    text-decoration: none;

    padding: 0 10px;
}

.nav--login a:hover {
    color: var(--hover-header);
}

.nav--body {
    width: 100%;
    height: 100px;
    border-top: 0.5px solid #eafade;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    padding: 20px;
    height: 50px;
}

.nav-logo a {
    height: 50px;
    line-height: 50px;

}

.nav-logo a img {
    margin-top: -20px;
    height: 50px;
}

.nav-search {
    flex: 2;
    position: relative;
    padding: 0 150px;
    margin-top: 20px;


}

.nav-search input {
    width: 100%;
    border-radius: 8px;
    height: 50px;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 16px;
    background-color: #6ec171;
    color: #fff;
}

.nav-search input::placeholder {
    color: #fff;
}

.nav-search i {
    position: absolute;
    top: 14px;
    right: 160px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.nav--giohang {
    display: flex;
    align-items: center;
}

.nav-cart {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    position: relative;

}

.nav-cart span {
    position: absolute;
    font-size: 14px;
    top: 10px;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-hotline {
    height: 60px;
}

.nav-hotline img {
    height: 60px;
}



.banner {


    width: 1160px;
    display: flex;
    position: relative;

    object-fit: cover;
    overflow: hidden;

}

.banner-img {}



.banner-img-hiden {
    display: none;
}

.banner-dieuhuong {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;

    color: #fff;

}

.move-left i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(141, 141, 141);
}

.move-right i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(141, 141, 141);
}

.imgbackgroud {
    width: 1140px;
    object-fit: cover;
    height: 100%;

}

.banner::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
}


.coating-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 800px;
    height: 240px;
    border-radius: 4px;
    transition: border 0.5s linear;

}

.coating-imgg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.coating-body:hover {
    border: 1px solid var(--primary-color);
}

.coating-body h2 {
    color: #fff;
    margin: 10px;
    font-weight: 600;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

.br {
    width: 120px;
    position: absolute;
    border: 0.5px solid #6ec171;
    left: 50%;
    transform: translateX(-50%);

}

.coating-p {
    margin: 20px 0 20px;

}

.coating-body p {

    line-height: 2;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.coating-body button {

    margin-left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 120px;
    border-radius: 8px;
    background-color: #49b152;
    color: #fff;
    font-size: 14px;
    border: none;
    font-weight: bold;
    cursor: pointer;

}

.sale-item {
    margin-top: 20px;
}

.sale-item--img {
    border: 1px solid var(--primary-color);
}

.sale-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.pay-tree {
    margin-top: 30px;
    position: relative;
}

.pay-tree h2 {
    margin-bottom: 20px;
}

.pay-directional {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.directional {
    height: 50px;
    width: 50px;
    background-color: #a1a1a12a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 0 4px;
}

.directional i {
    font-size: 26px;
}

.directional.left {
    background-color: rgb(146, 146, 146);
}

.hr {
    position: absolute;
    border: 1px solid #49b152;
    width: 100px;
    height: 1px;
}

.list-pay {}


.pay-item {
    margin-top: 20px;
    border: 1px solid #eafade;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    height: 350px;
}

.pay-item a {
    text-decoration: none;
    color: #333;
    width: 200px;
    height: 260px;
}

.pay-item a img {
    height:
        260px;
    object-fit: cover;
}

.pay-item:hover .add-card {
    animation: addcard 0.5s ease forwards;
}

.pay-item img {

    padding: 10px;
    width: 100%;



}

.pay-title {
    margin-left: 5px;
    margin-top: 5px;

}

.tiyle {
    height: 20px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 10px;
}

.tiyle p {
    font-size: 1.6rem;

    font-weight: 600;
    height: 30px;
}

.pay-pay {
    display: flex;
    font-size: 1.4rem;

}



.pay-pay p:first-child {
    color: #49b152;
    font-weight: 500px;
    margin-right: 20px;

}

.pay-pay p:last-child {
    text-decoration: line-through;
}

.banner1 {
    width: 100%;
}

.banner1-item {
    height: 29rem;
    width: 100%;
    margin-top: 2rem;

}

.banner1-item.banner1-item1 {
    padding: 3rem 5rem 0 5rem;
    color: #fff;

    background-color: var(--primary-color);
}

.banner1-item.banner1-item1 h3 {
    font-size: 5rem;
    font-weight: 400;
}

.banner1-item.banner1-item1 h4 {
    font-size: 4.5rem;
    font-weight: 300;
}

.banner1-item.banner1-item1 p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.banner1-item.banner1-item1 button {
    line-height: 40px;
    width: 160px;
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
}

.banner1-item.banner1-item2 {

    padding-left: 3rem;
}

.banner1-item.banner1-item2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tieucanh {
    margin-top: 4rem;
}

.tieucanh img {
    height: 260px;
}

.tieucanh-title {
    position: relative;
    line-height: 5rem;
    width: 100%;
    margin-bottom: 10px;

}

.tieucanh-item a {
    text-decoration: none;
    color: #333;

}

.tieucanh-title::before {
    content: "";
    border: 1px solid var(--primary-color);
    width: 130px;
    position: absolute;
    bottom: -10px;

}

.tieucanh-title h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.tieucanh img {
    width: 100%;
}

.tieucanh-item {
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}

.tieucanh-item:hover .add-card {
    animation: addcard 0.5s ease forwards;
}

.care {
    margin-top: 2rem;
}

.noibat {
    margin-top: 2rem;
}

.noibat-title {
    position: relative;
    line-height: 5rem;
    width: 100%;
    margin-bottom: 3rem;
}

.noibat-title::before {
    content: "";
    border: 1px solid var(--primary-color);
    width: 130px;
    position: absolute;
    bottom: -10px;
}

.noibat-title h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.noibat-list {
    margin-top: 2rem;
}

.noibat-item {
    position: relative;
}

.noibat-btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);


}

.noibat-btn button {
    height: 40px;
    width: 250px;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}

.noibat-btn button:hover {
    color: #49b152;
}

.care-item {
    width: 100%;
}

.care-item img {
    width: 100%;
    object-fit: fill;
    height: 200px;
}

.care-body {
    padding: 1rem
}

.care-body a {
    text-decoration: none;
    color: #333;
}

.care-body h3 {
    font-size: 1.8rem;
    font-weight: bold;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 2;
}

.date-care {
    line-height: 4;
    font-size: 1.4rem;
    color: #999;
}

/* slide */

.body-slide {
    position: relative;
}

.slide_dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 820px;
    height: 250px;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.slide_dark:hover {
    border: 1px solid var(--primary-color);
}

.slide_dark h1 {
    font-size: 30px;
    font-weight: 700;
}

.slide_hr {
    width: 120px;
    height: 1px;
    background-color: #49b152;
    display: inline-block;
    margin: 10px 0 20px 0;
}

.slide_title {
    font-size: 14px;
}

.slide_btn button {
    font-size: 14px;
    line-height: 3;
    width: 120px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
}