<footer class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="footer-body col m--4">
                <div class="footer-address">

                    <img src="https://lh4.googleusercontent.com/-R4X4b9ovzVI/XPXGmG23mII/AAAAAAAAIrM/hPPC7zYp9s8-P9oc4JMliyPoXLoh-OkOgCLcBGAs/s1600/fot_logo.png"
                        alt="">
                    <p><strong>Địa chỉ:</strong> 175 Lý Thường Kiệt, Phường 6, Quận Tân Bình, TP Hồ Chí Minh</p>
                    <p><strong>Điện thoại:</strong> 0123 456 789</p>
                    <p><strong>Email:</strong> <a href="">Tự thêm nhé</a> </p>
                    <p></p>
                </div>

            </div>
            <div class="footer-me col m--8">
                <div class="row">
                    <div class="footer-me-body col m--4">
                        <h3>Về Chúng Tôi</h3>

                        <div class="footer-me-link">
                            <p><a href="">Trang chủ</a></p>
                            <p><a href="">Giới thiệu</a></p>
                            <p><a href="">Sản phẩm</a></p>
                            <p><a href="">Tin tức</a></p>
                            <p><a href="">Liên hệ</a></p>


                        </div>
                    </div>

                    <div class="footer-me-body col m--4">

                        <h3>Về Chúng Tôi</h3>

                        <div class="footer-me-link">
                            <p><a href="">Trang chủ</a></p>
                            <p><a href="">Giới thiệu</a></p>
                            <p><a href="">Sản phẩm</a></p>
                            <p><a href="">Tin tức</a></p>
                            <p><a href="">Liên hệ</a></p>


                        </div>
                    </div>

                    <div class="footer-me-body col m--4">

                        <h3>Về Chúng Tôi</h3>

                        <div class="footer-me-link">
                            <p><a href="">Trang chủ</a></p>
                            <p><a href="">Giới thiệu</a></p>
                            <p><a href="">Sản phẩm</a></p>
                            <p><a href="">Tin tức</a></p>
                            <p><a href="">Liên hệ</a></p>


                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <div class="banquyen">
        <p>© Bản quyền thuộc về Kiến Vàng | Cung cấp bởi Sapo - Code blogger bởi Admin</p>
    </div>
</footer>