<div class="header">
    <div class="modal hide">
        <div class="modal-login">
            <div class="header-login">
                <h4>Đăng Nhập</h4>
                <i class='bx bx-x'></i>
            </div>
            <form class="body-login" id="form">
                <div class="login-form">
                    <i></i>
                    <input type="text" id="un" name="login" placeholder="Nhập Vào usename">
                    <div class="err"></div>
                </div>
                <div class="login-form">
                    <input type="password" id="ps" name="login" placeholder="Password">
                    <div class="err"></div>
                </div>
                <div class="body-btn">
                    <button class="login">Đăng Nhập</button>
                </div>
            </form>

            <p class="body-register">Bạn Chưa Có Tài Khoản???<a href="./register.html">Đăng Ký</a></p>




        </div>
    </div>
    <div class="grid wide">
        <div class="nav--header">
            <div class="nav--social">
                <label for="">Theo Dõi</label>
                <i class='bx bxl-facebook'></i>
                <i class='bx bxl-twitter'></i>
                <i class='bx bxl-google-plus'></i>
                <i class='bx bxl-pinterest'></i>
            </div>
            <div class="nav--login hidden">
                <a href="/account/register">Đăng Ký </a>
                <a href="/account">Đăng Nhập</a>
            </div>
            <div class="nav--login-suss hidden">
                <i class='bx bx-user-circle'></i>
                <span id="name_login"></span>
                <i class='bx bx-chevron-down'></i>
                <ul class="login__drop">
                    <li>Thông Tin Tài Khoản</li>
                    <li><a href="/cart/order">Đơn Mua</a></li>
                    <div id="admin">

                    </div>

                    <a href="/">
                        <li id="logout">Đăng Xuất</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class=" nav--body">
            <div class="nav-logo">
                <a href="/"><img src="/assets/img/logo.png" alt=""></a>
            </div>
            <div class="nav-search">
                <input type="text" placeholder="Tìm Kiếm..." id="search">
                <i class='bx bx-search-alt-2' id="search-btn"></i>
                <div class="header__search-history hidden">

                    <ul class="header__search-history-list">


                    </ul>
                </div>
            </div>
            <div class="nav--giohang">
                <div class="nav-hotline">
                    <a href="tel:0123456789"><img src="/assets/img/hotline.png" alt=""></a>
                </div>
                <div class="nav-cart">
                    <i class='bx bxs-cart-download'></i>
                    <span id="cart_leagth">0</span>

                    <div class="cart-hover">

                        <div class="cart_scroll">

                        </div>



                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="body-drowdown">
    <div class="grid wide">
        <ul class="drowdown-list">
            <li class="drowdown-item hov">
                <a href="/">Trang Chủ</a>
            </li>
            <li class="drowdown-item">
                <a href="/about">Giới Thiệu</a>
            </li>
            <li class="drowdown-item sanpham">
                <a href="/product">Sản Phẩm</a>


                <div class="drowdown-news">
                    <div><a href="/product/category/1" class="drowdown-news-item">Tiểu Cảnh Để Bàn</a></div>
                    <div><a href="/product/category/2" class="drowdown-news-item">Cây Cảnh Mini</a></div>
                    <div class=" drowdown-news-item2">
                        <a href="/product/category/3" class="drowdown-news-item">
                            Phụ Kiện Trang trí


                        </a>

                    </div>

                    <div><a href="/product/category/4" class="drowdown-news-item">Chậu Cảnh Để Bàn</a></div>
                    <div><a href="/product/category/5" class="drowdown-news-item">Cậu Cây Trồng</a></div>
                    <div> <a href="/product/category/6" class="drowdown-news-item">Hoa Chậu</a></div>
                    <div> <a href="/product/category/7" class="drowdown-news-item">Cây Công Trình</a></div>
                </div>

            </li>
            </a>
            <li class="drowdown-item drowdown-item--news">
                <a href="/news">Tin Tức</a>
                <div class="drowdown-news">
                    <div><a href="" class="drowdown-news-item">Thiết Kế Sân Vườn</a></div>
                    <div><a href="" class="drowdown-news-item">Thiết Kế Cảnh Quan Đô Thị</a></div>
                    <div class=" drowdown-news-item2">
                        <a href="" class="drowdown-news-item">
                            Dịch Vụ Khác
                            <i class='bx bx-chevron-right'></i>

                        </a>
                        <div class="drowdown-news2">
                            <div><a href="" class="drowdown-news-item">Thiết Kế Sân Vườn</a></div>
                            <div><a href="" class="drowdown-news-item">Thiết Kế Cảnh Quan Đô Thị</a>
                            </div>
                            <div><a href="" class="drowdown-news-item">Thiết Kế Sân Vườn</a></div>
                            <div><a href="" class="drowdown-news-item">Thiết Kế Cảnh Quan Đô Thị</a>
                            </div>
                        </div>
                    </div>

                    <div><a href="" class="drowdown-news-item">Thiết Kế Sân Vườn Biệt Thự</a></div>
                    <div><a href="" class="drowdown-news-item">Thiết Kế Cảnh Quan Resort</a></div>
                    <div> <a href="" class="drowdown-news-item">Thiết Kế Quán Cafe Sân Vường</a></div>
                </div>
                <i class='bx bx-chevron-right'></i>
            </li>

            <li class="drowdown-item">
                <a href="/contact">Liên Hệ</a>
                <i class='bx bx-chevron-right'></i>
            </li>


        </ul>
    </div>

</div>